.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    width: 30%;
    margin: 2rem auto;
    padding: 2rem;
    gap: 1.5rem;
    box-shadow: 0rem 0rem 0.5rem 0.1rem #BBBBBB;
}

/* All the text fields */
input:not([type="submit"]) {
    border: #BBBBBB solid 2px;
}

.modern-checkbox {
    border-radius: 100%;
}

.form-error {
    font-size: 1.5rem;
    font-weight: 600;
    border: red solid 0.2rem;
    text-align: center;
    padding: 1rem;
    width: -webkit-fill-available;
    width: stretch;
}

.login-signup-link{
    font-size: 1.2rem;
    color: #1a0bad;
}

.text-field-container {
    width: -webkit-fill-available;
    width: stretch
}

.error-message {
    font-size: 0.9rem;
    color: red;
    margin: 0.1rem;
    padding-left: 0.2rem;
}

/* Validation Nonsesne */
input[type="submit"] {
    cursor: pointer;
}

form:has(:invalid) input[type="submit"] {
    opacity: 0.5;
    pointer-events: none;
}

input:user-valid {
    border-color: #28A745;
}

input:user-invalid {
    border-color: #DC3545;
}

.invalid {
    border-color: #DC3545 !important; 
}

.match-error {
    display: none;
}