.form-container {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin: 0 auto;
    width: 60%;
}

form {
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
    margin: 1rem;
    width: 100%;
}

input[type="text"] {
    border: 2px #BBBBBB solid;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.field-title {
    font-weight: 600;
    color: #222222;
    margin: 0;
}

.field-description {
    color: #444444;
    margin: 0;
}

/* Genre Dropdown */
.genre-display {
    background-color: #F5F5F5;
    border: 2px solid #BBBBBB;
}

ul li {
    list-style: none;
    font-size: 1.05rem;
}

ul li label {
    margin-left: 0.2rem;
}

.radio-description {
    padding-left: 0.3rem;
    color: #222222;
}

input:user-invalid {
    border-color: red;
}

.error-message {
    font-size: 0.9rem;
    color: red;
    margin: 0.1rem 0rem;
}

#wtform-description {
    display: none;
}

.description-field {
    display: flex;
    flex-direction: column;
}

.ql-toolbar{
    margin-top: 0.6rem;
}

.hidden-input {
    display: none;
}

.real-file-input {
    width: fit-content;
}

.file-name-display {
    margin: 0;

}

.submit-container {
    display: flex;
    flex-direction: row;
}

.submit-button {
    margin: 0.6rem auto;
    text-align: center;
    width: 40%;
}

.game-platform-summary {
    font-weight: 600;
    margin: 0;
}