.game-page-flex {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    background-color: #1B9D4F;
}

.game-page-flex-small {
    width: 60%;
}

.game-page-flex-large {
    width: 80%;
}

.game-page-primary-column{
    width: 60vw;
    margin: 0.5rem;
}

.game-page-web-game{
    width: 100%;
    aspect-ratio: calc(16/9);
    border: 0.2rem red solid;
}