html {
    background-color: #DFDFDF;
    /* Set body font as default font */
    font-family: "Roboto", sans-serif;
    color: #202020;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header, footer {
    flex-shrink: 0;
    flex-grow: 0;
}

.title {
    font-family: "Domine", serif;
}

.body {
    font-family: "Roboto", sans-serif;
}

.flex-align-right {
    margin-left: auto !important;
}

/* Navbar */
.navbar-flex {
    display: flex;
    flex-direction: row;
    min-height: 2rem;
    font-size: 1.6rem;
    background-color: #106030;
}

.navbar-link {
    padding: 0.5rem 1rem;
    margin: 0%;
    color: #BBBBBB;
    text-decoration: none;
    align-self: middle;
}

.navbar-link:hover {
    background-color: #1B9D4F;
    color: #F5F5F5;
}

/* Footer */
.footer-flex {
    display: flex;
    flex-direction: row;
    min-height: 2rem;
    font-size: 1.6rem;
    background-color: #106030;
}

/* Login/Signup Pages */
.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    width: 30%;
    margin: 2rem auto;
    padding: 2rem;
    gap: 2rem;
    box-shadow: 0rem 0rem 0.5rem 0.1rem #BBBBBB;
}

.username-input {
    max-width: 100%;
    border: #BBBBBB solid 1.5px;
}

.password-input {
    max-width: 100%;
    border: #BBBBBB solid 1.5px;
}

.modern-checkbox {
    border-radius: 100%;
}

.email-input {
    max-width: 100%;
    border: #BBBBBB solid 1.5px;
}

/* Collections Pages (Games or Jams) */
.collection-flex {
    display: flex;
    flex-direction: row;
}

/* Games Page */
.game-filters {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #BBBBBB;
    padding: 1rem;
}

.games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    width: 100%;
    gap: 0.5rem;
}

.game-box {
    padding: 0.5rem;
    width: 100%;
    background-color: #F5F5F5;
}

.game-box-image {
    border: #BBBBBB solid 1px;
}

.game-box-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.3rem 0rem;
}

.game-box-description{
    color: #333333;
    margin: 0.2rem 0rem;
    font-size: 0.9rem;
}

.game-box-link {
    text-decoration: none;
}

.game-box-compatibility {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.game-os-badge {
    background-color: #202020;
    color: #F5F5F5;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    padding: 0.15rem 0.3rem;
}