{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
{% endblock %}
{% block content %}
<div class="error-body">
    <p class="error-title title">404 Error - Page Not Found</p>
    <br>
    <p class="error-description">It appears you've gotten lost or the url is invalid!</p>
    <br>
    <div class="error-return">
        <a href="{{url_for('main.home')}}">Return to Home Page</a>
        <hr>
        <a id="back-button" href="javascript:void(0)">Go Back</a>
    </div>
</div>
<script src="{{url_for('static', filename='scripts/back.js')}}"></script>
{% endblock %}