{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
{% endblock %}
{% block content %}
<div class="error-body">
    <p class="error-title title">500 Error - Internal Server Error</p>
    <br>
    <p class="error-description">It appears something has gone wrong on our end, please try again later!</p>
    <br>
    <div class="error-return">
        <a href="{{url_for('main.home')}}">Return to Home Page</a>
        <hr>
        <a href="javascript:history.back()">Go Back</a>
    </div>
</div>
{% endblock %}