{% extends "layout.html" %}
{% block style %}
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/game_form.css')}}">
{% endblock %}

{% macro text_field(form_row, field_class="") %}
    <div class="form-field">
        {{form_row.label(
            class_="field-title"
        )}}
        <p class="field-description">
            {{form_row.description}}
        </p>
        {{form_row(
            class_="w3-input " + field_class,
        )}}
        {% if form_row.errors %}
            {% for error in form_row.errors %}
                <p class="error-message"> {{error}} </p>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% block content %}

<div class="form-container">
    <form method="POST" id="game-edit-form">
        {{ form.hidden_tag() }}
        <div class="form-grid">
            <div class="form-column data">
                {{ text_field(form.name) }}
                {{ text_field(form.tagline) }}

                <div class="description-field">
                    {{form.description.label(
                        class_="field-title"
                    )}}
                    <p class="field-description">
                        {{form.description.description}}
                    </p>
                    {{  form.description(
                        id="wtform-description",
                    ) }}
                    <div id="quill-description"></div>
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="error-message"> {{error}} </p>
                        {% endfor %}
                    {% endif %}
                </div>

                {{ text_field(form.genre, "genre-display") }}

                <div class="form-field">
                    <p class="field-title">Visibility</p>
                    <p class="field-description">
                        This determines if your game is visible to everyone.
                    </p>
                    {{ form.visibility() }}
                </div>
                <div class="form-field">
                    <p class="field-title">Development State</p>
                    <p class="field-description">
                        Indicates the state of your games development to players.
                    </p>
                    {{ form.dev_state() }}
                </div>
                {{form.game_uploads()}}
            </div>
            <div class="form-column display-images">
                {{form.cover_image()}}
                {{form.images()}}
            </div>
        </div>
        {{ form.save(
            class_="w3-btn w3-teal",
        ) }}
    </form>
</div>

<script src="{{url_for('static', filename='scripts/game_description.js')}}" defer></script>
{% endblock %}