{% extends "layout.html" %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
{% endblock%}
{% block content %}
<div class="game-page-flex">
    <div class="game-page-primary-column">
        {% if game_data.has_html %}
        <div class="game-container">
            <iframe class="game-page-web-game" id="game" src="{{game_data.html_game_path}}" frameborder="0"></iframe>
            <button id="fullscreen" class="fullscreen_button">
                <img class="fullscreen_button_image" src="/static/images/fullscreen.png" alt="Fullscreen">
            </button>
        </div>
        {% endif %}

        {# Ensured to be safe with bleach #}
        <div class="quill-confiner">
            <div class="ql-editor">
                {{game_data.description | safe}}
            </div>
        </div>

        {% if game_data.download_game_path %}
        <div class="downloads">
            <p class="download-heading">Downloads</p>
            <div class="download">
                <p class="download-os">
                    <a class="download-button" href="{{game_data.download_game_path}}" download>
                        Download
                    </a> 
                    <br>
                    <br>
                    Supports:
                    <br>
                    {% if game_data.has_windows %}
                        - Windows
                    {% endif %}
                    <br>
                    {% if game_data.has_mac %}
                        - Mac
                    {% endif %}
                    <br>
                    {% if game_data.has_linux %}
                        - Linux
                    {% endif %}
                </p>
            </div>
        </div>
        {% endif %}

    </div>
</div>
<script src="{{url_for('static', filename='scripts/fullscreen.js')}}"></script>
{% endblock %}