{% extends "layout.html" %}
{% block content %}
<!-- Game Cover images are 630 by 500 (1.26:1) for itch parity-->
<!-- Embed Images are 640 by 360  (16:9)-->
<div class="collection-flex">
    <div class="game-filters">
        <p class="filter-header title">
            Game Filters
        </p>
        {% if request.args %}
            <div class="reset-filters-container">
                <a href="{{url_for('main.games')}}" class="reset-filters">Clear Filters</a>
            </div>
        {% endif %}
        {% if request.args.get("genre") %}
            <div>
                <p class="game-filter-heading title">
                    Genre 
                </p>
                <p class="game-filter-selected">
                    {{request.args.get("genre")}}
                </p>
                <p class="game-filter-clear">
                    <a href="{{update_arg('genre', None)}}">
                        <i>Clear</i>
                </a>
                </p>
            </div>
        {% else %}
            <div class="game-filter-unselected">
                <p class="game-filter-heading title"> Genre </p>
                {% for genre in genre_data %}
                    <p class="game-filter-option">
                        <a class="game-filter-link" href="{{ update_arg('genre', genre.name) }}">
                            {{ genre.name }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="games">
        {% for game in game_data %}
            <div class="game-box">
                <a class="game-box-link" href="/game/{{game.id}}">
                    <img class="game-box-image" src="{{ game.image_url }}" alt="{{ game.name }}">
                    <p class="game-box-title title">{{ game.name }}</p>
                </a>
                <p class="game-box-genre">{{ game.genre.name }}</p>
                <p class="game-box-description">{{ game.description }}</p>
                <div class="game-box-compatibility">
                    {% if game.has_html %}
                        <p class="game-os-badge">
                            Play in Browser
                        </p>
                    {% endif %}
                    {% if game.has_windows %}
                        <p class="game-os-badge">
                            Windows
                        </p>
                    {% endif %}
                    {% if game.has_mac %}
                        <p class="game-os-badge">
                            Mac
                        </p>
                    {% endif %}
                    {% if game.has_linux %}
                        <p class="game-os-badge">
                            Linux
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}