{% extends "layout.html" %}
{% block content %}
<h1 class="title">Home</h1>
<p class="body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quam enim totam quaerat autem, soluta possimus animi in doloremque modi quod id, culpa et dolores fuga doloribus sint harum nam.
</p>
<!--
<iframe class="game" id="game" src="/static/games/Pukehinau_Peril_Web_v6/index.html" frameborder="0" allow="fullscreen", width="1000px", height="700px"></iframe>
<button class="fullscreen" id="fullscreen">Fullscreen</button>
<script src="/static/scripts/fullscreen.js"></script>
-->
{% endblock %}