{% extends "layout.html" %}
{% block content %}
<form class="account-form-container" method="POST">
    {{ form.hidden_tag() }}
    {{ form.username(
        class_="w3-input username-input",
        placeholder="Username",
    ) }}
    {{ form.password(
        class_="w3-input password-input",
        placeholder="Password",
    ) }}
    <div>
        {{form.remember(class_="w3-check modern-checkbox")}}
        {{form.remember.label(class_="body")}}
    </div>
    {{form.sumbit(class_="w3-btn w3-teal")}}
</form>
{% endblock %}