{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}
{% block content %}
<form class="account-form-container" method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="form-error">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    {{ form.username(
        class_="w3-input username-input",
    ) }}
    <div>
    {{ form.password(
        class_="w3-input password-input",
        )
    }}
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    </div>
    <div>
        {{ form.remember(
            class_="w3-check",
        ) }}
        {{ form.remember.label(
            class_="body",
        ) }}
    </div>
    <a class="login-signup-link" href="{{url_for('auth.signup')}}">Don't have an account? Sign up here!</a>
    {{ form.submit(
        class_="w3-btn w3-teal submit-btn",
    ) }}
</form>
{% endblock %}