{% extends "layout.html" %}
{% block content %}
<form class="account-form-container" method="POST">
    {{ form.hidden_tag() }}
    {{ form.username(
        class_="w3-input username-input",
    ) }}
    {{ form.password(
        class_="w3-input password-input",
    ) }}
    <div>
        {{ form.remember(
            class_="w3-check",
        ) }}
        {{ form.remember.label(
            class_="body",
        ) }}
    </div>
    {{ form.submit(
        class_="w3-btn w3-teal",
    ) }}
</form>
{% endblock %}