<nav class="navbar-flex title">
    <a href="/" class="navbar-link">Home</a>
    <a href="/games" class="navbar-link">Games</a>
    <a href="/jams" class="navbar-link">Game Jams</a>
    
    {% if current_user.is_authenticated %}
        <a href="/logout" class="navbar-link flex-right-force">Logout</a>
        <h2>{{current_user.username}}</h2>
    {% else %}
        <a href="/login" class="navbar-link flex-right-force">Login</a>
        <a href="/signup" class="navbar-link">Signup</a>
    {% endif %}
</nav>