{% extends "layout.html" %}
{% block style %}
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="quill-containment">
    <div id="quill-editor">
        <h2>demo</h2>
        <p>Preset with snow theme and format nonsense</p>
    </div>
</div>


<script src="{{url_for('static', filename='scripts/game_description.js')}}" defer></script>
{% endblock %}