{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}
{% block content %}
<form class="account-form-container" method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="form-error">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    {{ form.email(
        class_="w3-input email-input",
        type_="email",
    ) }}
    <div class="text-field-container">
        {{ form.username(
            class_="w3-input",
        ) }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <p class="error-message"> {{error}} </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="text-field-container">
        {{ form.password(
            class_="w3-input",
            id_="password"
        ) }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <p class="error-message"> {{error}} </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="text-field-container">
        {{ form.repeat_password(
            class_="w3-input",
            id_="password_repeat"
        ) }}
        <p id="password-mismatch-error" class="error-message match-error">The passwords do not match.</p>
        {% if form.repeat_password.errors %}
            {% for error in form.repeat_password.errors %}
                <p class="error-message"> {{error}} </p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {{ form.remember(
            class_="w3-check",
        ) }}
        {{ form.remember.label(
            class_="body",
        ) }}
    </div>
    <a class="login-signup-link" href="{{url_for('auth.login')}}">Already have an account? Login here!</a>
    {{ form.submit(
        class_="w3-btn w3-teal",
    ) }}
</form>
<script src="{{url_for('static', filename='scripts/password_match.js')}}" defer></script>
{% endblock %}