{% extends "layout.html" %}
{% block content %}
<form class="account-form-container" method="POST">
    {{ form.hidden_tag() }}
    {{ form.email(
        class_="w3-input email-input",
        type_="email",
    ) }}
    {{ form.username(
        class_="w3-input username-input",
    ) }}
    {{ form.password(
        class_="w3-input password-input",
    ) }}
    {{ form.repeat_password(
        class_="w3-input password-input",
    ) }}
    {{ form.submit(
        class_="w3-btn w3-teal",
    ) }}
</form>
{% endblock %}